<% include partials/header %>

<% let ph = "", gen = "", occ = "", hob = ""; %>

<% if (friend[0].info.phone) { %>
  <% ph = friend[0].info.phone; %>
<% }; %>

<% if (friend[0].info.gender) { %>
  <% gen = friend[0].info.gender; %>
<% }; %>

<% if (friend[0].info.occupation) { %>
  <% occ = friend[0].info.occupation; %>
<% }; %>

<% if (friend[0].info.hobbies) { %>
  <% hob = friend[0].info.hobbies; %>
<% }; %>


<h1><%= friend[0].firstName %> <%= friend[0].lastName %></h1>

<form action="/update" method="POST">

  <div class="form-group">
    <label for="firstName">First Name: </label>
    <br />
    <input type="text" name="firstName" value=<%= friend[0].firstName %> required >
  </div>

  <div class="form-group">
    <label for="lastName">Last Name: </label>
    <br />
    <input type="text" name="lastName" value=<%= friend[0].lastName %> required >
  </div>

  <div class="form-group hide">
    <label for="id"></label>
    <br />
    <input type="text" name="id" value=<%= friend[0].id %> >
  </div>

  <div class="form-group">
    <label for="phone">Phone: </label>
    <br />
    <input type="tel" name="phone" value="<%= ph %>" >
  </div>

  <div class="form-group">
    <label for="gender">Gender: </label>
    <br />
    <% if (gen === 'male') { %>
      <select name="gender">
        <option value="">--</option>
        <option value="male" selected>Male</option>
        <option value="female">Female</option>
      </select>
    <% } else if (gen === 'female') { %>
      <select name="gender">
        <option value="">--</option>
        <option value="male">Male</option>
        <option value="female" selected>Female</option>
      </select>
    <% } else { %>
      <select name="gender">
        <option value="" selected>--</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    <% }; %>
  </div>

  <div class="form-group">
    <label for="occupation">Occupation: </label>
    <br />
    <input type="text" name="occupation" value="<%= occ %>" >
  </div>

  <div class="form-group">
    <label for="hobbies">Hobbies: </label>
    <br />
    <input type="text" name="hobbies" value="<%= hob %>" >
  </div>

  <button type="submit" class="button" id="update-button">Update</button>

</form>

<% include partials/footer %>
